
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 319px) 
and (max-device-width : 481px) {
/* Styles */
#title{
    color: white;
    font-size: 30px;
}
.table thead th {
    line-height: 15px;
    font-size: 10px;
    font-weight: bold
}

table.dataTable thead th {
    padding-left: 2px !important
}#resources-head {
    border-top: white solid 100%; 
    border-left: white solid 100%; 
    border-right: white solid 100%; 
    background-color: #023cc1; 
    color: white;
}
#xml-resources {
    border-bottom: white solid 100%; 
    border-left: white solid 100%; 
    border-right: white solid 100%; 
    background-color: white
}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
#title{
    color: white;
    font-size: 30px;
}
.table thead th {
    line-height: 15px;
    font-size: 10px;
    font-weight: bold
}

table.dataTable thead th {
    padding-right: 4px !important
}

#resources-head {
    border-top: white solid 100%; 
    border-left: white solid 100%; 
    border-right: white solid 100%; 
    background-color: #023cc1; 
    color: white;
}
#xml-resources {
    border-bottom: white solid 100%; 
    border-left: white solid 100%; 
    border-right: white solid 100%; 
    background-color: white
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
#title{
    color: white;
    font-size: 40px;
}
.table thead th {
    line-height: 17px;
    font-size: 12px;
    font-weight: bold
}

table.dataTable thead th {
    padding-right: 6px !important
}
#resources-head {
    border-top: white solid 100%; 
    border-left: white solid 100%; 
    border-right: white solid 100%; 
    background-color: #023cc1; 
    color: white;
}
#xml-resources {
    border-bottom: white solid 100%; 
    border-left: white solid 100%; 
    border-right: white solid 100%; 
    background-color: white
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
#title{
    color: white;
    font-size: 60px;
}
.table thead th {
    line-height: 20px;
    font-size: 14px;
    font-weight: bold
}

table.dataTable thead th {
    padding-right: 10px !important
}
#resources-head {
    border-top: white solid 40px; 
    border-left: white solid 40px; 
    border-right: white solid 40px; 
    background-color: #023cc1; 
    color: white;
}
#xml-resources {
    border-bottom: white solid 40px; 
    border-left: white solid 40px; 
    border-right: white solid 40px; 
    background-color: white
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
#title{
    color: white;
    font-size: 60px;
}
.table thead th {
    line-height: 20px;
    font-size: 14px;
    font-weight: bold
}

table.dataTable thead th {
    padding-right: 10px !important
}
#resources-head {
    border-top: white solid 40px; 
    border-left: white solid 40px; 
    border-right: white solid 40px; 
    background-color: #023cc1; 
    color: white;
}
#xml-resources {
    border-bottom: white solid 40px; 
    border-left: white solid 40px; 
    border-right: white solid 40px; 
    background-color: white
}
}

