/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 767px) {
    /* Styles */
    #title {
        color: white;
        font-size: 30px;
    }
    .table thead th {
        line-height: 15px;
        font-size: 11px;
        font-weight: bold
    }
    table.dataTable thead th {
        padding-left: 2px !important
    }
    #resources-head {
        border-top: white solid 100%;
        border-left: white solid 100%;
        border-right: white solid 100%;
        background-color: #023cc1;
        color: white;
    }
    #xml-resources {
        border-bottom: white solid 100%;
        border-left: white solid 100%;
        border-right: white solid 100%;
        background-color: white
    }
    .name_and_version {
        font-size: 11px;
    }
    .status {
        font-size: 11px;
    }
    .resource_type {
        font-size: 11px;
    }
    .container-fluid my-1 {
        width: 320px;
        padding: 0px
    }
    #detail-tbody {
        font-size: 12px;
    }
    #detail-table{
        table-layout: fixed 
    }
    .my-1{
        padding-bottom: 15px
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1223px) {
    /* Styles */
    #title {
        color: white;
        font-size: 30px;
    }
    .table thead th {
        line-height: 15px;
        font-size: 15px;
        font-weight: bold
    }
    table.dataTable thead th {
        padding-right: 4px !important
    }
    #resources-head {
        border-top: white solid 100%;
        border-left: white solid 100%;
        border-right: white solid 100%;
        background-color: #023cc1;
        color: white;
    }
    #xml-resources {
        border-bottom: white solid 100%;
        border-left: white solid 100%;
        border-right: white solid 100%;
        background-color: white
    }
    .name_and_version {
        font-size: 15px;
    }
    .status {
        font-size: 15px;
    }
    .resource_type {
        font-size: 15px;
    }
    .container-fluid my-1 {
        width: 768px;
        padding: 0px
    }
    #detail-tbody {
        font-size: 15px;
    }
    #detail-table{
        table-layout: fixed 
    }
    .my-1{
        padding-bottom: 20px
    }
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1223px) and (orientation: landscape) {
    /* Styles */
    #title {
        color: white;
        font-size: 40px;
    }
    .table thead th {
        line-height: 17px;
        font-size: 16px;
        font-weight: bold
    }
    table.dataTable thead th {
        padding-right: 6px !important
    }
    #resources-head {
        border-top: white solid 100%;
        border-left: white solid 100%;
        border-right: white solid 100%;
        background-color: #023cc1;
        color: white;
    }
    #xml-resources {
        border-bottom: white solid 100%;
        border-left: white solid 100%;
        border-right: white solid 100%;
        background-color: white
    }
    .name_and_version {
        font-size: 16px;
    }
    .status {
        font-size: 16px;
    }
    .resource_type {
        font-size: 16px;
    }
    .container-fluid my-1 {
        width: 768px;
        padding: 0px
    }
    #detail-tbody {
        font-size: 16px;
    }
    #detail-table{
        table-layout: fixed 
    }
    .my-1{
        padding-bottom: 20px
    }
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
    #title {
        color: white;
        font-size: 60px;
    }
    .table thead th {
        line-height: 20px;
        font-size: 20px;
        font-weight: bold
    }
    table.dataTable thead th {
        padding-right: 10px !important
    }
    #resources-head {
        border-top: white solid 40px;
        border-left: white solid 40px;
        border-right: white solid 40px;
        background-color: #023cc1;
        color: white;
    }
    #xml-resources {
        border-bottom: white solid 40px;
        border-left: white solid 40px;
        border-right: white solid 40px;
        background-color: white
    }
    #detail-table{
        table-layout: fixed 
    }
    .my-1{
        width: 80%; 
        padding: 30px
    }
}