#detail{
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
#files{
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
#instruction{
    padding: 1%;
    padding-top: 5%;
    margin-right: 25%;
    padding-bottom: 3%;
}
#instruction > h2{
    text-align: center;
}